@import "compass/css3";
@import 'https://fonts.googleapis.com/css?family=Poiret+One|Raleway:200,300,400';
/*********************
VARIABLES
**********************/
$electro-background: #000000;        /*Control Menu Color Scheme*/
$electro-height: 100vh;
$electro-width: 40vw;
$padding-top: 60px;


$electro-height-img: 100vh;
$electro-width-img: 100vw;

$electro-text: white;
$electro-height-text: 20px;
$electro-width-text: 90%;
$electro-padding-top-text: 80px;
$electro-padding-left-text: 50px;


$mozart-padding-top: 20px;
$mozart-border-radius: 100%;


/*********************
RESPONSIVE BREAKPOINTS
**********************/
@mixin breakpoint($point) {
  @if $point == 1300 {
    @media (max-width: 1300px) { @content; }
  }
  @else if $point == 715 {
    @media (max-width: 715px) { @content; }
  }
}
/*********************
NAVIGATION STYLES
**********************/

.electro-img {
  background-image: url(../images/electro.jpg);
  height: $electro-height-img;
  width: 60vw;
  float: left;
  background-size: cover;

  @include breakpoint(715) {
    width: 0vw;
  }

  .titre {
    color: $electro-text;
    float: left;
    margin-left: 5vw;
    padding-top: 45vh;
    text-shadow: 9px 6px 35px #000000;
    font-family: 'Poiret One', cursive;
    @include breakpoint(715) {
      padding-top: 10vh;
    }
  }
}
.electro-block {
  background-color: $electro-background;
  height: $electro-height;
  width: 40vw;
  margin-left: 60vw;
  display: block;
  @include breakpoint(715) {
    width: 100vw;
    margin-left: 0vw;
  }

  .electro-text{
    color: $electro-text;
    height: $electro-height-text;
    width: $electro-width-text;
    padding-left: $electro-padding-left-text;
    padding-top: $electro-padding-top-text;

    p{
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
    }
    text-align: justify;
    @include breakpoint(715) {
      padding-top: 25vh;
      padding-left: 4vw;
      padding-right: 6vw;
      width: 100vw;
    }
  }
  .miniatures{
    padding-top: $mozart-padding-top;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;



    img{
      border-radius: 50px 15px 50px 15px;
      width: 40%;
      margin-right: 10px;
      @include breakpoint(715) {
        width: 30vw;
      }

    }

  }


}






