@import "compass/css3";
@import 'https://fonts.googleapis.com/css?family=Poiret+One|Raleway:200,300,400';
/*********************
VARIABLES
**********************/


/*********************
RESPONSIVE BREAKPOINTS
**********************/
@mixin breakpoint($point) {
  @if $point == 1300 {
    @media (max-width: 1300px) { @content; }
  }
  @else if $point == 715 {
    @media (max-width: 715px) { @content; }
  }
}
/*********************
NAVIGATION STYLES
**********************/

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100vh;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  background-color: black;
  transition: 1s opacity;
}