@import "compass/css3";
@import 'https://fonts.googleapis.com/css?family=Poiret+One|Raleway:200,300,400';
/*********************
VARIABLES
**********************/
$minimal-background: #000000;        /*Control Menu Color Scheme*/
$minimal-height: 100vh;
$minimal-width: 40vw;
$padding-top: 60px;


$minimal-height-img: 100vh;
$minimal-width-img: 100vw;

$minimal-text: white;
$minimal-height-text: 20px;
$minimal-width-text: 90%;
$minimal-padding-top-text: 80px;
$minimal-padding-left-text: 50px;


$mozart-padding-top: 20px;
$mozart-border-radius: 100%;

/*********************
NAVIGATION STYLES
**********************/

.minimal-img {
  background-image: url(../images/dour.jpg);
  height: $minimal-height-img;
  width: 60vw;
  float: left;
  background-size: cover;

  @include breakpoint(715) {
    width: 0vw;
  }

  .titre {
    color: $minimal-text;
    float: left;
    margin-left: 5vw;
    padding-top: 45vh;
    text-shadow: 9px 6px 35px #000000;
    font-family: 'Poiret One', cursive;
    @include breakpoint(715) {
      padding-top: 10vh;
    }
  }
}
.minimal-block {
  background-color: $minimal-background;
  height: $minimal-height;
  width: 40vw;
  margin-left: 60vw;
  display: block;
  @include breakpoint(715) {
    width: 100vw;
    margin-left: 0vw;
  }

  .minimal-text{
    color: $minimal-text;
    height: $minimal-height-text;
    width: $minimal-width-text;
    padding-left: $minimal-padding-left-text;
    padding-top: $minimal-padding-top-text;

    p{
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
    }
    text-align: justify;
    @include breakpoint(715) {
      padding-top: 25vh;
      padding-left: 4vw;
      padding-right: 6vw;
      width: 100vw;
    }
  }
  .miniatures{
    padding-top: $mozart-padding-top;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;



    @include border-miniature();

  }


}






